* text=auto eol=lf

*.pdf binary
*.png -text
*.sqlite3 -text
benchmark/expected/**/originals/** -text

*.md whitespace=-blank-at-eof,-trailing-space
*.yaml whitespace=-blank-at-eof
LICENSE whitespace=-blank-at-eof
benchmark/expected/** whitespace=-blank-at-eof,-trailing-space
